name: Gitflow Feature

on:
  workflow_dispatch:
    inputs:
      action:
        type: string
        description: Choose the action to perform
        options:
        - finish_feature
        - test_feature

      feature_name:
        type: string
        description: Enter the name of the feature branch

jobs:
  feature:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Finish Feature
        if: github.event.inputs.action == 'finish_feature'
        run: |
          git checkout develop
          git merge --no-ff feature/${{ github.event.inputs.feature_name }}
          git branch -d feature/${{ github.event.inputs.feature_name }}

      - name: Test Feature
        if: github.event.inputs.action == 'test_feature'
        run: |
          # Add your test steps here
