name: Gitflow Develop

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: Choose the action to perform
        options:
        - unstable_release
      feature_name:
        type: string
        description: "[start_feature] Enter the name of the feature branch"
      bump:
        type: choice
        description: "[unstable_release] Choose bump type (major, minor, patch)"
        options:
        - major
        - minor
        - patch

jobs:
  feature:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: repository-dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.github_token }}
          repository: ${{ github.repository }}
          event-type: ${{ github.event.inputs.action }}
          client-payload: >-
            {
              "event": "${{ github.event_name }}",
              "actor": "${{ github.actor }}",
              "repository": "${{ github.repository }}",
              "ref": "${{ github.ref }}",
              "ref_name": "${{ github.ref_name }}",
              "ref_type": "${{ github.ref_type }}",
              "sha": "${{ github.sha }}",
              "workflow": "${{ github.workflow }}",
              "inputs": {
                "action": "${{ github.event.inputs.action }}",
                "feature_name": "${{ github.event.inputs.feature_name }}",
                "feature_branch": "feature/${{ github.event.inputs.feature_name }}",
                "upstream_scope": "${{ github.event.inputs.upstream_scope }}",
                "downstream_scope": "${{ github.event.inputs.downstream_scope }}",
                "reconcile_divergence": "${{ github.event.inputs.reconcile_divergence }}"
              }
            }
