# Once develop has acquired enough features for a release (or a predetermined release date is approaching), you fork a release branch off of develop. Creating this branch starts the next release cycle, so no new features can be added after this point—only bug fixes, documentation generation, and other release-oriented tasks should go in this branch. Once it's ready to ship, the release branch gets merged into main and tagged with a version number. In addition, it should be merged back into develop, which may have progressed since the release was initiated.
#
#Using a dedicated branch to prepare releases makes it possible for one team to polish the current release while another team continues working on features for the next release. It also creates well-defined phases of development (e.g., it's easy to say, “This week we're preparing for version 4.0,” and to actually see it in the structure of the repository).
#
#Making release branches is another straightforward branching operation. Like feature branches, release branches are based on the develop branch. A new release branch can be created using the following methods.
#
#Without the git-flow extensions:
#
#git checkout develop
#git checkout -b release/0.1.0
#When using the git-flow extensions:
#
#$ git flow release start 0.1.0
#Switched to a new branch 'release/0.1.0'
#Once the release is ready to ship, it will get merged it into main and develop, then the release branch will be deleted. It’s important to merge back into develop because critical updates may have been added to the release branch and they need to be accessible to new features. If your organization stresses code review, this would be an ideal place for a pull request.
#
#To finish a release branch, use the following methods:
#
#Without the git-flow extensions:
#
#git checkout main
#git merge release/0.1.0
#Or with the git-flow extension:
#
#git flow release finish '0.1.0'
# https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/Gitflow-release-branch-process-start-finish
name: Gitflow Release

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: Choose the action to perform
        options:
          - start_release
          - finish_release

      release_name:
        type: string
        description: Enter the name of the release branch
        required: true

      description:
        type: string
        description: Enter the description of the release
        required: true

      upstream_scope:
        type: integer
        description: Enter the upstream scope of the release
        default: 0

      downstream_scope:
        type: integer
        description: Enter the downstream scope of the release
        default: 0

jobs:
  feature:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: repository-dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.github_token }}
          repository: ${{ github.repository }}
          event-type: ${{ github.event.inputs.action }}
          client-payload: >-
            {
              "event": "${{ github.event_name }}",
              "actor": "${{ github.actor }}",
              "repository": "${{ github.repository }}",
              "ref": "${{ github.ref }}",
              "ref_name": "${{ github.ref_name }}",
              "ref_type": "${{ github.ref_type }}",
              "sha": "${{ github.sha }}",
              "workflow": "${{ github.workflow }}",
              "inputs": {
                "release_name": "${{ github.event.inputs.release_version }}",
                "upstream_scope": "${{ github.event.inputs.upstream_scope }}",
                "downstream_scope": "${{ github.event.inputs.downstream_scope }}"
                
              }
            }

