name: Gitflow Feature

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: Choose the action to perform
        options:
        - start_feature
        - finish_feature
        - delete_feature

      feature_name:
        type: string
        description: Enter the name of the feature branch

jobs:
  feature:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Git-Flow
        run: |
          sudo apt-get install git-flow

      - name: Initialize Git-Flow
        run: |
          git flow init -d
          
      - name: Finish Feature
        if: github.event.inputs.action == 'finish_feature'
        run: |
          git config --global user.name "$user"
          git config --global user.email "$email"
          git flow feature finish ${{ github.event.inputs.feature_name }}
          git push origin develop
#git push origin --delete ${{ github.event.inputs.feature_name }}

      - name: Start Feature
        if: github.event.inputs.action == 'start_feature'
        run: |
          git config --global user.name "$user"
          git config --global user.email "$email"
          git flow feature start ${{ github.event.inputs.feature_name }}
          git push origin feature/${{ github.event.inputs.feature_name }}
          
#git push origin ${{ github.event.inputs.feature_name }}
